@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{
  body{
    font-family: nunito;
    background-color: #0b1d2e;
  }
  body, div, span, p{
    color: #9ca3af;
  }
  a, li{
    color: #d1d5dbff;
  }
  .bg-title{
    background-color: #397071;
  }
  .bg-section{
    background: #1e272e;
  }
  .border-color{
    border-color: #397071;
  }
  .bordered{
    @apply border border-color
  }
  .bordered-b{
    @apply border-b border-color
  }
  .navbar{
    @apply flex items-center justify-between px-8 py-5 lg:px-8
  }
  .nav-item{
      @apply px-3;
  }
  .main-content{
    @apply mt-3 flex flex-wrap mx-auto w-2/3 bg-transparent 
  }
  .search{
    @apply w-full bordered text-gray-50 bg-transparent h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none
  }
  .group-title{
    @apply py-3 text-2xl
  }
  .section{
    @apply rounded-lg bordered mb-3
  }
  .section-header{
    background-color: #397071;
    @apply px-5 py-3 bordered-b rounded-t-lg
  }
  .section-body{
    font-weight: 300 !important;
    @apply text-sm
  }
  li.delete-item a{
    @apply px-5 py-3 !rounded-xl mb-3  border border-color bg-transparent
  }
  li.delete-item a:hover{
    @apply bg-title
  }
  .delete-item a{
    @apply block 
  }
}