<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentation</title>
    <%- include('layouts/css-js') %>
  </head>
  <body>
    <%- include('layouts/header') %>
    <div class="main-content">
      <h1>Ini docs</h1>
    </div>
  </body>
</html>
