doctype doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap")
        link(rel="stylesheet", href="public/css/tailwind.css")
        link(rel="stylesheet", href="public/css/style.css")
    body 
        include layouts/header.pug
        div(class="container main-content mx-auto")
            div(class="item shadow-2-xl bg-white")
                span ini yg ada shadownya
