<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secret Door</title>
    <%- include('layouts/css-js') %>
  </head>
  <body>
    <%- include('layouts/header') %>
    <div class="main-content">
      <h1>Delete certain APIs</h1>
      <ul class="w-full mt-5 list-none">
        <% result.forEach(function(res){ %>
        <li class="delete-item">
          <a href="secret-door/delete?path=<%= res.path %>" onclick="return confirm('Apakah anda jomblo?')"><%= res.path %></li>
        </a>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
