<header>
  <nav class="navbar">
    <div><a href="/">Fakapi</a></div>
    <div>
      <a href="/app/quick-start" class="nav-item">Quick Start</a>
      <a href="/app/docs" class="nav-item">Docs</a>
      <a href="/app/api" class="nav-item">Api</a>
    </div>
    <div>Login</div>
  </nav>
</header>
