<header>
  <nav class="navbar relative">
    <div><a href="/">Fakapi</a></div>
    <div>
      <a href="/app/quick-start" class="nav-item">Quick Start</a>
      <a href="/app/docs" class="nav-item">Docs</a>
      <a href="/app/api" class="nav-item">Api</a>
    </div>
    <div>Login</div>
    <div class="absolute right-0 top-20 h-20 w-20" ondblclick="window.location.href ='/app/secret-door'"></div>
  </nav>
</header>
