<header>
  <nav class="navbar">
    <div>Fakapi</div>
    <div>
      <a href="" class="nav-item">Quick Start</a>
      <a href="" class="nav-item">Docs</a>
      <a href="" class="nav-item">Api</a>
    </div>
    <div>Login</div>
  </nav>
</header>
